@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .nav{
        color: #808080;
    }
    .nav-active{
        color: #112B3C;
    }
    .nav-line{
        display: block;
        width: 1rem;
        height: 0.25rem;
        background: #FE8D2A;
        position: absolute;
        border-radius: 1rem;
        left: 0;
        right: 0;
        margin: auto;
    }
    .nav:hover + .nav-line-hidden{
        background: #FE8D2A;
    }
    .nav:hover{
        color: #112B3C;
    }
    .nav-line-hidden{
        display: block;
        width: 1rem;
        height: 0.25rem;
        background: white;
        border-radius: 1rem;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }
    .amiko {
        font-family: 'Amiko', sans-serif;
    }
    .poppins{
        font-family: 'Poppins', sans-serif;
    }
    .inter{
        font-family: 'Inter', sans-serif;
    }
    .barlow{
        font-family: 'Barlow', sans-serif;
    }
    .orange{
        color: #FE8D2A;
    }
    .gray{
        color: #808080
    }
    .login-orange-bg{
        background-image: url("/images/login-bg.svg")
    }
    .pallete-color-3{
        color: #EAF0F7;
    }
    .button-color{
        background-color: #FE8D2A
    }
    .button-color:hover{
        background-color: #112B3C
    }
}